



* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {

    transition: all .2s linear
}

body {
    margin: 0;
    font-family: var(--font-family-primary);
    width: 100vw;
    overflow-x: hidden;
    background: var(--ddc-background-primary);
    transition: all .2s linear
}


.navbar {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    max-height: 130px;
    background: var(--ddc-background-primary);
    border-bottom: 5px solid var(--ddc-color-dividing-border);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all .2s linear
}

.logo {
    flex: 15%;
    margin-left: 10%;
    text-align: left;
}

.logo h1 {
    font-family: var(--font-family-title);
    font-size: 32px;
    margin: 0;
    margin-top: 18px;
    margin-bottom: 5px;
}

.logo a {
    color: var(--ddc-color-title);
}

.btn-theme-pc {
    flex: 5%;
    position: relative;
}

.checktheme {
    opacity: 0;
    position: absolute;
}

.labeltheme {
    background: var(--ddc-color-menu-theme);
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
    transition: all .15s linear;
}

.labeltheme .themeball {
    background: var(--ddc-background-primary);
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform .2s linear;
}

.checktheme:checked+.labeltheme .themeball {
    transform: translateX(24px);
}

.fa-moon {
    color: var(--ddc-btn-moon);
}

.fa-sun {
    color: var(--ddc-btn-sun);
}

.menu {
    flex: 65%;
    /* border:1px solid green;*/
    text-align: right;
    padding: 20px;
}

.menu a {
    color: var(--ddc-color-menu-itens);
    text-decoration: none;
    font-size: 24px;
    padding: 20px 16px;
    transition: all linear 0.2s;
}

.menu a:hover {
    color: var(--ddc-color-menu-itens-hover);
    border-top: 3px solid var(--ddc-color-menu-itens-hover);
}

#botao {
    background: var(--ddc-color-menu-button);
    padding: 10px 25px;
    color: var(--ddc-color-menu-button-text);
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
    transition: all ease .3s;
}

#botao:hover {
    border: none;
    background: var(--ddc-color-menu-button-hover);
}

.hamburguer {
    display: none;
}

.sidebar {
    display: none;
}

.header {
    margin-left: 10%;
    margin-right: 10%;
    width: 81.8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* background: white; */
    padding-top: 200px;
}


.headline {
    margin-right: 10%;
    flex: 40%;
    /* border:1px solid var(--ddc-color-black); */
}

.headline h2 {
    font-weight: 900;
    font-size: 32px;
    font-family: var(--font-family-title);
    color: var(--ddc-color-title);
    padding: 0;
    margin: 0;
}

.separate-title {
    letter-spacing: 8px;
}

.headline h3 {
    font-weight: 900;
    font-size: 32px;
    font-family: var(--font-family-title);
    color: var(--ddc-color-title);
    padding: 0;
    padding-top: 30px;
    margin: 0;
}

.headline p {
    color: var(--ddc-color-text-primary);
    text-align: left;
    font-family: var(--font-family-text);
    font-size: 20px;
}

.text-in-right {
    animation: text-in-right 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes text-in-right {
    0% {
        transform: scale(2);
        transform-origin: 100% 50%;
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        transform-origin: 100% 50%;
        filter: blur(0px);
        opacity: 1;
    }
}


.img-headline {
    margin-left: 10%;
    flex: 40%;
    text-align: center;
    border-radius: 88% 4% 77% 10% / 75% 4% 70% 100%;
    background: var(--ddc-color-img-headline-border-index);
    transition: all .2s linear
}

.img-headline {
    z-index: 0;
}

.puff-in-bl {
    animation: puff-in-bl 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes puff-in-bl {
    0% {
        transform: scale(2);
        transform-origin: 0% 100%;
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        transform-origin: 0% 100%;
        filter: blur(0px);
        opacity: 1;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -46px;
    /* border:1px solid var(--ddc-color-black); */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    /* text-align: center; */
}

section h2 {
    width: 100%;
    font-size: 32px;
    margin: 0;
    font-family: var(--font-family-title);
    font-weight: bold;
    color: var(--ddc-color-title);
}

.servicos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
}

.card {
    color: var(--ddc-color-text-secondary);
    width: 28%;
    min-width: 250px;
    min-height: 297.44px;
    padding: 20px;
    margin: 1%;
    border: 1px solid var(--ddc-color-card-border);
    border-radius: 10px;
    box-shadow: 5px 6px var(--ddc-color-card-border-radius);
    cursor: pointer;
    transition: all ease 0.4s;
    background: var(--ddc-color-card);
}

.card img {
    padding-top: 20px;
    width: 58px;
}

.card h3 {
    font-family: 'Work Sans', sans-serif;
}

.card p {
    font-family: 'Work Sans', sans-serif;
}

.card-icon {
    padding-top: 20px;
    font-size: 68px;
}

.mdi-git {
    color: var(--ddc-mdi-git);
    transition: all .2s linear
}

.mdi-github {
    color: var(--ddc-mdi-github);
    transition: all .2s linear
}

.card:hover {
    background: var(--ddc-color-card-hover);
    padding: 25px;
    box-shadow: 3px 4px var(--ddc-color-card-border-radius-hover);
}

.card:hover .card-text p {
    display: none;
}

.texto-oculto {
    display: none;
}

.card:hover .texto-oculto {
    display: block;
}

.card.checked {
    background: var(--ddc-color-card-checked);
    padding: 30px;
    box-shadow: 2.8px 3.6px var(--ddc-color-card-checked-border-radius);
}

.card-loading {
    width: 28%;
    min-width: 250px;
    padding: 0px;
    margin: 1%;
    background: var(--ddc-color-soft-pink);
    border: 1px solid var(--ddc-color-soft-strong-pink);
    border-radius: 10px;
    box-shadow: 5px 6px var(--ddc-color-purple);
}

.loading {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.ring {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: ring-animation 2s infinite linear;
}

@keyframes ring-animation {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px var(--ddc-ring-animation-color-1)
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px var(--ddc-ring-animation-color-2)
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px var(--ddc-ring-animation-color-3)
    }
}

.ring:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--ddc-color-purple-60procent);
}

.loading span {
    color: var(--ddc-color-soft-grey-in-red);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: ring-text 3s ease-in-out infinite;
}

@keyframes ring-text {
    50% {
        color: transparent;
    }
}

.card-text-loading {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.texto-oculto-loading {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-loading:hover .card-text-loading p {
    display: none;
}

.texto-oculto-loading {
    display: none;
}

.card-loading:hover .texto-oculto-loading {
    display: block;
}

/* Seção dentro dos cards 
        |
        |
        |
      \ |  /
       \  /
        \/
*/

.section-content {
    /* border: 1px solid var(--ddc-color-black); */
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    font-family: var(--font-family-text);
    color: var(--ddc-color-text-primary);
}

.title-subtitle {
    text-align: center;
}

.title-subtitle h2 {
    font-size: 32px;
    font-family: var(--font-family-title);
}

.title-subtitle h3 {
    font-size: 24px;
    color: var(--ddc-color-title);
    font-family: 'Work Sans', sans-serif;
}

/* .basic-information {
    border: 1px solid rgb(255, 166, 166);
} */

.information {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border: 1px solid rgb(90, 194, 107); */
}

.information-content {
    flex: 68%;
    max-width: 100%;
    padding-right: 2%;
    /* border: 1px solid rgb(11, 68, 255); */
    display: flex;
    flex-flow: column wrap;
}

.information-content h4 {
    font-size: 16px;
    margin-bottom: 16px
}

.code-example {
    background: var(--ddc-color-code);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 40px;
    max-width: 100%;
    margin-left: 8%;
    margin-right: 8%;
}

.pre {
    text-align: center;
    flex: 90%;
    max-width: 100%;
    margin: 0;
    color: var(--ddc-color-code-text)
}

.code-space {
    max-width: 100%;
}

.element-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
}

.element-example p {
    margin: 0;
}

.element-text {
    font-size: 16px;
}

.code-example button {
    background: var(--ddc-green-blue-mid);
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
}

.copy-btn {
    position: relative;
}

.mdi.mdi-content-copy {
    transition: all .2s;
}

.mdi.mdi-content-copy.copied {
    color: var(--ddc-color-code-copy);
}

.span-copy-btn {
    display: none;
}

.span-copy-btn.show-span {
    position: absolute;
    left: 32px;
    height: 28px;
    width: 74px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ddc-color-code-copy);
    color: var(--ddc-color-text-white);
    font-size: 16px;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
    display: hidden;
}

.span-copy-btn.show-span::before {
    content: "";
    position: absolute;
    border-right: 9px solid var(--ddc-green-blue-mid);
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 9px solid transparent;
    left: -15.2px;
}

.none-span {
    display: none;
}

.information-content h5 {
    margin: 0;
}

.aside-content {
    flex: 25%;
    border-top: none;
    border-left: 1px solid var(--ddc-color-soft-grey-in-red);
    border-bottom: none;
    border-right: none;
    padding-left: 2%;
}

.aside-section {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-section h6 {
    font-size: 20px;
}

.link-navigation {
    position: relative;
    width: 80%;
    height: 100%;
}

.link-navigation button {
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.aside-options {
    width: 75%;
    margin-top: 10px;
    padding: 6px;
    font-size: 16px;
    text-align: left;
    background: transparent;
    border-right: 1px solid var(--ddc-color-title);
    border-radius: 10px;
    color: var(--ddc-color-menu-itens);
    text-decoration: underline;
    cursor: pointer;

    position: relative;
    overflow: hidden;
    transition: all ease .6s;
}

.aside-options::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--ddc-color-title);
    z-index: -1;
    transition: all ease-out .4s;
}

.hover-effect::before {
    width: 0;
    top: 0;
    right: 0;
}

.aside-options:hover {
    color: var(--ddc-color-menu-itens-aside-hover);
}

.hover-effect:hover::before {
    width: 100%;
}

.waiting {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-text);
    color: var(--ddc-color-text-secundary);
    font-weight: 600;
    font-size: 20px;
}

footer {
    margin-top: 10px;
    height: 350px;
    background-image: linear-gradient(180deg, var(--ddc-color-footer-1), var(--ddc-color-footer-2), var(--ddc-color-footer-3));
    text-align: center;
    border-top: 5px solid var(--ddc-color-dividing-border);
    bottom: 0;
    transition: all .4s linear;
}

.logo-rodape {
    padding: 60px;
}

.agencia {
    font-family: var(--font-family-title);
    color: var(--ddc-color-text-white);
    font-size: 32px;
}

.logo-rodape p {
    color: var(--ddc-color-text-white);
}

b {
    color: var(--ddc-color-text-white);
}

.github {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.githubimg {
    opacity: 0.7;
    width: 75px;
    transition: all ease 0.4s;
}

.githubimg:hover {
    opacity: 1;
}