@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root {
    /* Fontes */
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-title: 'Lobster', 'cursive', sans-serif;
    --font-family-text: 'Aref Ruqaa Ink', serif;
    --font-family-card: 'Work Sans', sans-serif;

    /* Cores presentes nas paginas */
    --ddc-color-black: #000000;
    --ddc-color-soft-black: #111111;
    --ddc-color-white: #ffffff;
    --ddc-color-white-fa: #fafafa;
    --ddc-color-almost-white: #ebeaea;
    --ddc-color-blue-grey-blur-72porcent: #085a50b7;
    --ddc-color-dark-green: #085a50;
    --ddc-color-green-blue-mid: #009c86;
    --ddc-color-green-blue-grey-blur: #2d4137;
    --ddc-color-green-grey: #354231;
    --ddc-color-grey: #808080;
    --ddc-color-grey-dark-blue: #385a64;
    --ddc-color-grey-light: #e9e9e9;
    --ddc-color-purple: #711983;
    --ddc-color-purple-60procent: #71198399;
    --ddc-color-purple-dark: #180F4A;
    --ddc-color-soft-blue: #a1fcee;
    --ddc-color-soft-blue-2: #85eede;
    --ddc-color-soft-blue-3: #7acec1;
    --ddc-color-soft-grey-in-red: #737373;
    --ddc-color-soft-pink: #f4e5fa;
    --ddc-color-soft-strong-pink: #dfa1fc;
    --ddc-color-tomato: #ff6347;

    /* Cores do botão de trocar o tema */
    --ddc-btn-moon: #f1c40f;
    --ddc-btn-sun: #f39c12;


    /* Area do menu hamburguer */
    --ddc-color-menu-hamburguer: #085a50b7;


    /* Cor do icone do card do git */
    --ddc-mdi-git: #f1502f;
    --ddc-mdi-github: #000000;

    /* Cores presentes no circulo de loading (do card-loading) */
    --ddc-ring-animation-color-1: #e65c00;
    --ddc-ring-animation-color-2: #18b201;
    --ddc-ring-animation-color-3: #0456c8;

    
    /* Especificos */
    --ddc-background-primary: #ffffff;

    --ddc-color-title: #085a50;
    --ddc-color-text-primary: #354231;
    --ddc-color-text-secondary: #000000;
    --ddc-color-text-white: #ffffff;



    --ddc-color-card: #f3f7f0;
    --ddc-color-card-border: #a1fcee;
    --ddc-color-card-border-radius: #85eede;
    --ddc-color-card-border-radius-hover: #7acec1;
    --ddc-color-card-hover: #a1fcee;

    --ddc-color-code: #ebeaea;
    --ddc-color-code-copy: #009c86;
    --ddc-color-code-text: #000000;

    --ddc-color-dividing-border: #711983;

    --ddc-color-img-headline-border-index: #ffffff;

    --ddc-color-menu-button: #385a64;
    --ddc-color-menu-button-hover: #009c86;
    --ddc-color-menu-button-text: #ffffff;
    --ddc-color-menu-itens: #180F4A;
    --ddc-color-menu-itens-hover: #009c86;
    --ddc-color-menu-itens-aside-hover: #ffffff;
    --ddc-color-menu-theme: #111111;

    --ddc-color-footer-1: #009c86;
    --ddc-color-footer-2: #085a50;
    --ddc-color-footer-3: #000000;
    

    /* --ddc-background-navbar: #fafafa; */
    /* --ddc-background-navbar-border-bottom: #711983; */
    /* --ddc-background-button: #385a64; */
    /* --ddc-background-button-hover: #009c86; */

    /* --ddc-headline-color: #4a5c44; */
    /* --ddc-background-image-img-headline-1: #2d4137; */
    /* --ddc-background-image-img-headline-1: #085a50; */
    /* --ddc-background-image-img-headline-1: #009c86; */

    /* --ddc-btn-theme: #111111; */
    /* --ddc-btn-ball-theme: #fafafa; */


    /* --ddc-card-border: #a1fcee; */
    /* --ddc-card-background-border-hover: #a1fcee; */
    /* --ddc-card-background-border-checked: #85eede; */
    /* --ddc-card-color: #000000; */
    /* --ddc-card-border-box-shadow: #7acec1; */

    /* --ddc-color-menu-a: #180F4A; */
    /* --ddc-color-menu-a-hover: #009c86; */
    /* --ddc-color-menu-a-hover-border: #180F4A; */

    /* --ddc-card-loading-background: #f4e5fa; */
    /* --ddc-card-loading-border: #dfa1fc; */
    /* --ddc-card-loading-background-border-hover: #a1fcee; */
    /* --ddc-card-loading-background-border-checked: #85eede; */
    /* --ddc-card-loading-color: #000000; */
    /* --ddc-card-loading-border-box-shadow: #711983; */


    /* --ddc-ring-animation-before: #71198399; */
    /* --ddc-ring-animation-color-span: #737373; */


    /* --ddc-mdi-content-copy: #009c86; */

    /* --ddc-section-content-color: #4a5c44; */

    /* --ddc-background-code-example: #ebeaea; */
    /* --ddc-span-copy-btn-background: #009c86; */
    /* --ddc-span-copy-btn-color: #fafafa; */
    /* --ddc-span-copy-btn-ballon: #009c86; */


    /* --ddc-aside-options-border-r: #085a50; */
    /* --ddc-aside-options-color-hover: #fafafa; */
    /* --ddc-aside-options-backgronud-before: #085a50; */

    /* --ddc-footer-background-border-t: #711983; */
    /* --ddc-footer-background-image-color-1: #009c86; */
    /* --ddc-footer-background-image-color-1: #085a50; */
    /* --ddc-footer-background-image-color-1: #000000; */
}

.dark-mode:root {
    

    --ddc-background-primary: #111111; /* alterada mas */

    --ddc-color-title: #b2a7f1; /* alterada mas */
    --ddc-color-text-primary: #f1f8ef; /* alterada mas */
    --ddc-color-text-secondary: #000000;
    --ddc-color-text-white: #ffffff;

    

    --ddc-color-card: #ffffff; /* alterada mas */
    --ddc-color-card-border: #c2b7ff; /* alterada mas */
    --ddc-color-card-border-radius: #b2a7f1; /* alterada mas */
    --ddc-color-card-border-radius-hover: #9589db; /* alterada mas */
    --ddc-color-card-hover: #a1fcee; /* alterada mas */
    
    --ddc-color-dividing-border: #9b8fdf; /* alterada mas */

    --ddc-color-code: #ebeaea;
    --ddc-color-code-copy: #b2a7f1; /* alterada mas */
    --ddc-color-code-text: #000000;

    --ddc-color-img-headline-border-index: #b2a7f1; /* alterada mas */

    --ddc-color-menu-button: #b2a7f1; /* alterada mas */
    --ddc-color-menu-button-hover: #6553ca; /* alterada mas */
    --ddc-color-menu-button-text: #ffffff; /* alterada mas */
    --ddc-color-menu-itens: #b2a7f1; /* alterada mas */
    --ddc-color-menu-itens-hover: #ffffff; /* alterada mas */
    --ddc-color-menu-itens-aside-hover: #ffffff; 
    --ddc-color-menu-theme: #5c4477; /* alterada mas */

    --ddc-color-footer-1: #563af8; /* alterada mas */
    --ddc-color-footer-2: #4b3ba7; /* alterada mas */
    --ddc-color-footer-3: #000000; /* alterada mas */

    /* --ddc-mdi-github: #ffffff; */
}